root = true


[*]
indent_style = tab
indent_size = 4

[*.{py,cs}]
indent_style = space
indent_size = 4

[*.{props,vcxproj}]
indent_style = space
indent_size = 2

[*.lua]
indent_style = space
indent_size = 4
