root = true


[*]
indent_style = tab
indent_size = 4

[*.{py,cs,ps1}]
indent_style = space
indent_size = 4

[*.{props,vcxproj}]
indent_style = space
indent_size = 2

[*.{lua,yaml}]
indent_style = space
indent_size = 4
