[submodule "src/eqlib"]
	path = src/eqlib
    url = https://github.com/macroquest/eqlib.git
[submodule "contrib/vcpkg"]
	path = contrib/vcpkg
	url = https://github.com/macroquest/vcpkg.git
	branch = macroquest