*.aps
*.bak
*.dep
*.dsp
*.exp
*.ilk
*.iobj
*.ipdb
*.log
*.mak
*.map
*.navmesh
*.obj
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.tmp
*.VC.db
*.VC.opendb
*.vcproj
*.vcxproj.user
*.vspscc
*.zip
.vs/

Debug/
Intermediate*/
ISXEQ*Intermediate
packages/

UpgradeLog.htm

MQ2Auth0.h
mq2-builder-source/
CVS/
ipch/

.cvsignore


MQ2Main/Logs

/$sf
/EQBCS/Debug(Test)
/ISXEQ
/MQ2/MQ23
/MQ2
/MQ2Assist/MQ2Assist.vcxproj.vspscc
/MQ2AutoGroup/MQ2AutoGroup.org.cpp
/MQ2Ic/MQ2Ic.vcxproj.vspscc
/MQ2Ic
/MQ2Assist
/MQ2Achievements
/MQ2Main/.#MQ2Utilities.cpp.1.343
/MQ2Main/.#MQ2Utilities.cpp.1.333
/MQ2Main/.#MQ2Utilities.cpp.1.325
/MQ2Main/.#MQ2MacroCommands.cpp.1.51
/MQ2Main/.#MQ2Globals.h.1.171
/MQ2Main/.#MQ2DataTypes.cpp.1.509
/MQ2Main/.#MQ2DataTypes.cpp.1.488
/MQ2Main/.#MQ2DataTypes.cpp.1.485
/MQ2Main/.#MQ2Commands.cpp.1.205
/MQ2Main/.#EQData.h.1.617
/MQ2Main/.#EQData.h.1.615
/MQ2Main/emu.h
/MQ2Main/eqclient.ini
/MQ2Main/eqgame-private(test) - Copy.h
/MQ2Main/eqgame-private(live) - Copy.h
/MQ2Main/MQ2Auth0 - Copy.h
/MQ2Main/UIErrors.txt
/MQ2Authrg.exe
/signmq2auth.bat
/signmq2ic.bat
/datetest.bat
/EQProjectSettings.props
/newstuff.txt
/MQ2ChatTabWindow
/MQ2EqResource
/MQ2EasyFind
/MQ2FB
/MQ2Gmail
/buildaccesslive.php
/MQ2Melee/MQ2Meleeold.cpp
/buildipn.php
*.php
/MQ2Nav/common/MQ2Nav_Common(tf)old.vcxproj.filters
/MQ2Nav/common/MQ2Nav_Common(tf)old.vcxproj
/MQ2Nav/dependencies/imgui/imgui(tf)old.vcxproj.filters
/MQ2Nav/dependencies/imgui/imgui(tf)old.vcxproj
/MQ2Nav/dependencies/projects/zone-utilities(tf)old.vcxproj.filters
/MQ2Nav/dependencies/projects/zone-utilities(tf)old.vcxproj
/MQ2Nav/dependencies/projects/libprotobuf(tf)old.vcxproj.filters
/MQ2Nav/dependencies/projects/libprotobuf(tf)old.vcxproj
*.old
/navvv/MQ2Nav-master
/packagesold
/MQ2TargetInfo/RCh14516
/MQ2TargetInfo/RCg14516
/MQ2TargetInfo/RCf14516
/MQ2TargetInfo/RCe14516
/MQ2TargetInfo/RCd14516
/MQ2TargetInfo/RCc14516
/MQ2TargetInfo/RCb14516
/MQ2TargetInfo/RCa14516
/enc_temp_folder/318c2baf32117448eb72b39695991c/MQ2Spawns.cpp
/old.vs/MacroQuest2(Live)/v15
/MQ2Nav/plugin/MQ2Nav.cpp
/MQ2EQWire/MQ2EQWire - Copy.cpp
/MQ2EQWire/EQGraphics - Copy.h
/MQ2ItemDisplay/RCe04916
/MQ2ItemDisplay/RCd04916
/MQ2ItemDisplay/RCc04916
/MQ2ItemDisplay/RCb04916
/MQ2ItemDisplay/RCa04916
/MQ2-20180621
/MQ2Radar/DSurfaceexe.idb
/MQ2Radar/DSurfaceexe.exe
/MQ2Radar/DSurface.idb
/MQ2Radar/DSurface.id2
/MQ2Radar/DSurface.id1
/MQ2Radar/DSurface.id0
/MQ2Radar/Test.cpp
/MQ2Radar/resourceold.h
/MQ2Radar/MQ2Radarold.rc
/MQ2Radar/DSurface.til
/MQ2Radar/DSurface.nam
/MQ2Radar/DSurfaceexe.til
/MQ2Radar/DSurfaceexe.nam
/MQ2Radar/DSurfaceexe.id2
/MQ2Radar/DSurfaceexe.id1
/MQ2Radar/DSurfaceexe.id0
/MQ2Main/tempui.h
/MQ2DanNetDeps/libczmq/include/.gitignore
/MQ2Main/tempdata.h
/_buildertemplate/global plugins.txt
/MQ2Main/MQ2Commandstemp.cpp
/_buildertemplate/MQ2TakeADump.cpp
*.diagsession
*.psess
*.vspx
/_buildertemplate
/EQChat
/MQ2NoFlutter/flutter2.h
/MQ2NoFlutter/flutter2.cpp
/MQ2TargetInfo/MQ2TargetInfo(tf).vcxproj.filters
/MQ2TargetInfo/MQ2TargetInfo(tf).vcxproj
/MQ2RipIt
/MQ2SQLiteDeps
/MQ2SQLite
/MQ2TargetInfo/RCa33148
/Release
/MQ2Radar/Release
/MQ2Auth/Release
/MQ2TargetInfo/ph.txt
/MQ2DamageParser/RCe42560
/MQ2DamageParser/RCd42560
/MQ2DamageParser/RCc42560
/MQ2DamageParser/RCb42560
/MQ2DamageParser/RCa42560
/MQ2NoFlutter/CActor.h
/MQ2NoFlutter/Flutter3.cpp
