*.vcxproj.user
*.VC.opendb
*.sdf
*.suo
.vs/

*.navmesh
*.zip

*.exp
*.pdb
*.map

Release/
Debug/
Intermediate*/
ISXEQ*Intermediate
packages/

UpgradeLog.htm

MQ2Auth0.h
mq2-builder-source/
/$sf
/Detours/CVS
/Blech/CVS
/Detours/lib/CVS
/Detours/inc/CVS
/dxsdk81/CVS
/Detours/lib60/CVS
/dxsdk90/CVS
/dxsdk81/include/CVS
/EQBCS/Debug(Test)
/dxsdk90/include/CVS
/EQBCS/ISXEQ/EQBCS.tlog
/EQBCS/ISXEQ/EQBCS.obj
/EQBCS/ISXEQ/EQBCS.log
/ipch/MESHGENERATOR(TF)-53d03619
/ISXDK/35/CVS
/ISXDK/35/bin/CVS
/ISXDK/35/include/CVS
/ISXDK/35/doc/CVS
/ISXDK/35/include/LavishScript/CVS
/ISXDK/35/include/ISUI/CVS
/ISXDK/35/lib/vs14/CVS
/ISXDK/35/lib/CVS
/ISXDK/35/lib64/vs14/CVS
/ISXDK/35/lib64/CVS
/ISXDK/35/samples/ISXFullTemplate/CVS
/ISXDK/35/samples/CVS
/ISXEQ/CVS
/ISXDK/CVS
/ISXEQ
/MacroQuest/CVS
/ISXEQLegacy/CVS
/mkplugin/CVS
/memtest/CVS
/MQ2/MQ23
/MQ2/CVS
/MQ2
/MQ2Assist/MQ2Assist.vcxproj.vspscc
/MQ2AutoLogin/CVS
/MQ2AutoGroup/MQ2AutoGroup.org.cpp
/MQ2Ic/MQ2Ic.vcxproj.vspscc
/MQ2Ic
/MQ2Assist
/MQ2Achievements
/ISXEQ.NET/Properties/CVS
/ISXEQ.NET/EQTypes/CVS
/ISXEQ.NET/CVS
/MQ2Main/ISXEQ/CVS
/MQ2Main/CVS
/MQ2Main/Logs
/MQ2Main/str_com/CVS
/MQ2Main/.cvsignore
/MQ2Main/.#MQ2Utilities.cpp.1.343
/MQ2Main/.#MQ2Utilities.cpp.1.333
/MQ2Main/.#MQ2Utilities.cpp.1.325
/MQ2Main/.#MQ2MacroCommands.cpp.1.51
/MQ2Main/.#MQ2Globals.h.1.171
/MQ2Main/.#MQ2DataTypes.cpp.1.509
/MQ2Main/.#MQ2DataTypes.cpp.1.488
/MQ2Main/.#MQ2DataTypes.cpp.1.485
/MQ2Main/.#MQ2Commands.cpp.1.205
/MQ2Main/.#EQData.h.1.617
/MQ2Main/.#EQData.h.1.615
/MQ2Main/emu.h
/MQ2Main/eqclient.ini
/MQ2Main/eqgame-private(test) - Copy.h
/MQ2Main/eqgame-private(live) - Copy.h
/MQ2Main/MQ2Auth0 - Copy.h
/MQ2Main/MQ2Main.aps
/MQ2Main/UIErrors.txt
/MQ2Main/EQData.h.bak
/MQ2Main/EQData(Test).h.bak
/MQ2Authrg.exe
/signmq2auth.bat
/signmq2ic.bat
/datetest.bat
/EQProjectSettings.props
/newstuff.txt
/MQ2ChatTabWindow
/MQ2EqResource
/MQ2EasyFind
/MQ2FB
/MQ2Gmail
/mq2-builder-source
/mq2-builder-source
/mq2-builder-source
/MQ2Auth.iobj
/MQ2Auth.ipdb
/MQ2Ext/CVS
/lnk{5849AAD4-A8F0-4709-83B6-F8A855DF7D78}.tmp
/MQ2Auth.ilk
/buildaccesslive.php
