*.aps
*.bak
*.dep
*.dsp
*.exp
*.ilk
*.iobj
*.ipdb
*.log
*.mak
*.map
*.navmesh
*.obj
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.tmp
*.VC.db
*.VC.opendb
*.vcproj
*.vcxproj.user
*.vspscc
*.zip
.vs/

Release/
Debug/
Intermediate*/
ISXEQ*Intermediate
packages/

UpgradeLog.htm

MQ2Auth0.h
mq2-builder-source/
CVS/
ipch/

.cvsignore


MQ2Main/Logs

/$sf
/EQBCS/Debug(Test)
/ISXEQ
/MQ2/MQ23
/MQ2
/MQ2Assist/MQ2Assist.vcxproj.vspscc
/MQ2AutoGroup/MQ2AutoGroup.org.cpp
/MQ2Ic/MQ2Ic.vcxproj.vspscc
/MQ2Ic
/MQ2Assist
/MQ2Achievements
/MQ2Main/.#MQ2Utilities.cpp.1.343
/MQ2Main/.#MQ2Utilities.cpp.1.333
/MQ2Main/.#MQ2Utilities.cpp.1.325
/MQ2Main/.#MQ2MacroCommands.cpp.1.51
/MQ2Main/.#MQ2Globals.h.1.171
/MQ2Main/.#MQ2DataTypes.cpp.1.509
/MQ2Main/.#MQ2DataTypes.cpp.1.488
/MQ2Main/.#MQ2DataTypes.cpp.1.485
/MQ2Main/.#MQ2Commands.cpp.1.205
/MQ2Main/.#EQData.h.1.617
/MQ2Main/.#EQData.h.1.615
/MQ2Main/emu.h
/MQ2Main/eqclient.ini
/MQ2Main/eqgame-private(test) - Copy.h
/MQ2Main/eqgame-private(live) - Copy.h
/MQ2Main/MQ2Auth0 - Copy.h
/MQ2Main/UIErrors.txt
/MQ2Authrg.exe
/signmq2auth.bat
/signmq2ic.bat
/datetest.bat
/EQProjectSettings.props
/newstuff.txt
/MQ2ChatTabWindow
/MQ2EqResource
/MQ2EasyFind
/MQ2FB
/MQ2Gmail
/buildaccesslive.php
/MQ2Melee/MQ2Meleeold.cpp
/buildipn.php
*.php
