{
	"sourceRoot": "../..",
	"inputSources": [
		"src/main/MacroQuest.cpp",
		"src/eqlib/src/EQLibImpl.cpp"
	],
	"inputSymbols": "build/bin/Debug/MQ2Main.pdb",
	"includePaths": [
		"include",
		"src",
		"src/eqlib/include",
		"src/eqlib/src",
		"src/eqlib",
		"contrib",
		"contrib/vcpkg/installed/x64-windows-static/include",
		"contrib/vcpkg/installed/x64-windows/include"
	],
	"compilerArguments": [
		"-Wno-microsoft-template-shadow",
		"-Wno-unknown-attributes",
		"-Wno-writable-strings",
		"-Wno-inconsistent-dllimport",
		"-Wno-nonportable-include-path",
		"-Wno-#pragma-messages",
		"-Wno-ignored-pragma-optimize",
		"-Wno-microsoft-enum-forward-reference",
		"-Wno-extra-tokens",
		"-Wno-inconsistent-missing-override",
		"-Wno-c++20-extensions",
		"-std=c++17",
		"-fms-extensions",
		"-DCOMMENT_UPDATER",
		"-DNOMINMAX",
		"-D_CRT_USE_BUILTIN_OFFSETOF",
		"-DMQ2MAIN_EXPORTS"
	]
}